!!! DOCTYPE html
%html{ lang: "en"}
  %head
    %title Grouper Zonks
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = stylesheet_tag "app"

  %body
    #container
      %h1.text-center My Sweet App

    / Libraries
    = javascript_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"
    = javascript_tag "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"
    = javascript_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"

    :javascript
      try{Typekit.load();}catch(e){}

    = javascript_tag "app", expand: (ENV["RACK_ENV"] == "development")
